<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="d-flex w-100 mb-5">
    <ul class="nav justify-content-between w-100 px-2 pt-2">
      <li class="nav-item link-light">
        <%= link_to '&larr;'.html_safe, categories_path, class: "text-decoration-none text-white" %>
      </li>
      <li class="nav-item">
        <p class="nav-link link-light">EDIT PROFILE</p>
      </li>
      <li class="nav-item link-light">
        <%= f.submit "Update", class:"nav-link bg-transparent border-0 text-decoration-none text-white" %>
      </li>
    </ul>
  </div>

  <%= render "partials/message" %>

  <div class="form-group">
    <%= f.email_field :email, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <% if @minimum_password_length %>
    <% @placeholder = "Password (#{@minimum_password_length.to_s} characters minimum)" %>
  <% else %>
    <% @placeholder = "Password" %>  
  <% end %>

  <div class="form-group">
    <%= f.password_field :password, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "#{@placeholder} (leave blank if you don't want to change it)" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: @placeholder %>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "Current password (we need your current password to confirm your changes)" %>
  </div>
<% end %>
<br /><br />
<p class="m-3">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mx-3" %></p>
