<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="d-flex w-100">
    <ul class="nav justify-content-between w-100 px-2 pt-2">
      <li class="nav-item link-light">
        <%= link_to '&larr;'.html_safe, root_path, class: "text-decoration-none text-white" %>
      </li>
      <li class="nav-item">
        <p class="nav-link link-light">REGISTER</p>
      </li>
      <li class="nav-item link-light">
        <%= f.submit "Next", class:"nav-link bg-transparent border-0 text-decoration-none text-white" %>
      </li>
    </ul>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.text_field :name, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "Full name" %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "Email" %>
  </div>

  <% if @minimum_password_length %>
    <% @placeholder = "Password (#{@minimum_password_length.to_s} characters minimum)" %>
  <% else %>
    <% @placeholder = "Password" %>  
  <% end %>

  <div class="form-group">
    <%= f.password_field :password, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: @placeholder %>

  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control border-0 rounded-0 mx-3 px-0 w-100", placeholder: @placeholder %>
  </div>
<% end %>
