<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <nav class="navbar navbar-expand text-white px-3 mb-3 justify-content-between align-items-center">
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <%= link_to '&larr;'.html_safe, root_path, class: "text-decoration-none text-white fs-2" %>
        <%= f.submit "Send me" if can? :destroy, Customer, class:"nav-link bg-transparent border-0 text-decoration-none mx-2" %>
      </div>
    </div>
    <span class="navbar-brand mb-0 fs-4 text-white mx-3">FORGOT PASSWORD?</span>
  </nav>

  <%= render "partials/message" %>

  <div class="main">
    <div class="form-group">
      <%= f.email_field :email, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "email" %>
    </div>
  </div>
<% end %>

<% if cannot? :destroy , Customer %>
  <span class="permission-message p-3 text-danger">You aren't allowed to request password instructions.</span>
<% end %>
