<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <nav class="navbar navbar-expand text-white px-3 mb-3 justify-content-between align-items-center">
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <%= link_to '&larr;'.html_safe, categories_path, class: "text-decoration-none text-white fs-2" %>
        <%= link_to 'Send', categories_path, class: "text-decoration-none text-white fs-4 mx-2" %>
      </div>
    </div>
    <span class="navbar-brand mb-0 fs-4 text-white mx-3">FORGOT PASSWORD?</span>
  </nav>

  <%= render "partials/message" %>

  <div class="form-group">
    <%= f.email_field :email, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "email" %>
  </div>
<% end %>
