<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "m-auto" do %>
      <figure class="image is-48x48">
        <img src=<%= image_path 'house-icon.png' %> >
      </figure>
    <% end %>
    <div class="subtitle has-text-white has-text-weight-bold m-auto">
      Origami
    </div>
    <a 
      role="button"
      class="navbar-burger has-text-white"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarOrigami"
      data-controller="stimulus"
      data-action="click->stimulus#burger"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div id="navbarOrigami" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <%= link_to "Add category", new_category_path, class: "button is-white is-outlined is-hidden-touch" if controller_name == "categories" %>
        <%= link_to "Add category", new_category_path, class: "navbar-item has-text-info is-hidden-desktop" if controller_name == "categories" %>
      </div>
      <div class="navbar-item">
        <%= link_to "Add transaction", new_category_deal_path(@category), class: "button is-white is-outlined is-hidden-touch"  if controller_name == "deals" %>
        <%= link_to "Add transaction", new_category_deal_path(@category), class: "navbar-item has-text-info is-hidden-desktop"  if controller_name == "deals" %>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons is-hidden-touch">
          <% if customer_signed_in? %>
            <%= link_to 'Edit profile', edit_customer_registration_path, class: "button navbar-item is-white is-outlined" %>
            <%= link_to 'Sign out', destroy_customer_session_path, data: { turbo_method: :delete }, class: "button navbar-item is-white is-outlined" %>
          <% else %>
            <%= link_to 'Sign up', new_customer_registration_path, class: "button navbar-item is-white is-outlined" %>
            <%= link_to 'Sign in', new_customer_session_path, class: "button navbar-item is-white is-outlined" %>
          <% end %>
        </div>
      </div>
      <% if customer_signed_in? %>
        <%= link_to 'Edit profile', edit_customer_registration_path, class: "navbar-item has-text-info is-hidden-desktop" %>
        <%= link_to 'Sign out', destroy_customer_session_path, data: { turbo_method: :delete }, class: "navbar-item has-text-info is-hidden-desktop" %>
      <% else %>
        <%= link_to 'Sign up', new_customer_registration_path, class: "navbar-item has-text-info is-hidden-desktop" %>
        <%= link_to 'Sign in', new_customer_session_path, class: "navbar-item has-text-info is-hidden-desktop" %>
      <% end %>
    </div>
  </div>
</nav>
