<div class="card column is-one-fifth m-2">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <div class="title is-4"><%= deal.name %></div>
        <div class="subtitle is-6"><%= deal.created_at.strftime('%d %b %Y') %></div>
      </div>
    </div>

    <div>
      <% deal.categories.distinct.each do |category| %>
        <%= link_to category_deals_path(category) do %>
          <%= image_tag(category.icon, width: "25") %>
        <% end %>
      <% end %>
    </div>

    <div class="content">
      <%= number_to_currency(deal.amount, unit: '$', precision: 2) %>
    </div>
  </div>
</div>
