<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <nav class="navbar navbar-expand text-white px-3 mb-3 justify-content-between">
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <%= link_to '&larr;'.html_safe, root_path, class: "text-decoration-none text-white fs-2" %>
        <%= f.submit "Log In", class:"nav-link bg-transparent border-0 text-decoration-none mx-2" %>
      </div>
    </div>
    <span class="navbar-brand mb-0 fs-4 text-white mx-3">LOGIN</span>
  </nav>
  
  <%= render "partials/message" %>

  <div class="main">
    <div class="form-group">
      <%= f.email_field :email, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "Email" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "Password" %>
    </div>

    <div class="text-center w-100 pt-2">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-decoration-none text-reset" %>
      <% end %>
    </div>
  </div>
<% end %>

