<div class="d-flex w-100">
  <ul class="nav justify-content-between w-100 px-2">
    <li class="nav-item">
      <a class="nav-link" href="#">&larr;</a>
    </li>
    <li class="nav-item">
      <p class="nav-link">LOGIN</p>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Log In</a>
    </li>
  </ul>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "Email" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "Password" %>
  </div>

  <div class="text-center w-100 pt-2">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-decoration-none text-reset" %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-secondary m-2 w-100" %>
  </div>
<% end %>

