<%= form_with(model: category) do |form| %>
  <div class="d-flex w-100 mb-5">
    <ul class="nav justify-content-between w-100 px-2 pt-2">
      <li class="nav-item link-light">
        <%= link_to '&larr;'.html_safe, categories_path, class: "text-decoration-none text-white" %>
      </li>
      <li class="nav-item">
        <p class="nav-link link-light">ADD A NEW CATEGORY</p>
      </li>
      <li class="nav-item link-light">
        <%= form.submit "Save", class:"nav-link bg-transparent border-0 text-decoration-none text-white" %>
      </li>
    </ul>
  </div>

  <%= render "partials/message" %>

  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, class: "form-control border-0 border-bottom rounded-0 mx-3 px-0 w-100", placeholder: "Category name" %>
  </div>
  <div class="form-check form-check-inline m-3">
    <% @icons.each do |icon| %>
      <%= form.radio_button :icon_id, icon.id, id: icon.file_name %>
      <%= label_tag icon.file_name, image_tag(icon.file_name, alt: icon.name, width: "100"), class: "form-check-label mr-5 mb-5" %>
    <% end %>
  </div>

<% end %>
