<% if user_signed_in? %>
  <%= render 'partials/header' %>

  <h1>Categories</h1>

  <div id="categories">
    <% @categories.each do |category| %>
      <%= render category %>
      <p>
        <%= link_to "Show this category", category %>
      </p>
    <% end %>
  </div>

  <%= @icon.name %>
  <% file = "astrology.png" %>
  <%= image_tag(file, alt: "A stern frog", width: "200") %>

  <%= link_to "New category", new_category_path %>
<% else %>
  <%= render 'partials/start' %>
<% end %>
