<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<%= @icon.name %>
<% file = "astrology.png" %>
<%# <img src='astrology.png' />
<img src='american-football.png' /> %>
<%= image_tag(file, alt: "A stern frog", width: "200") %>
<ul>
</ul>

<%= link_to "New category", new_category_path %>
