<!DOCTYPE html>
<html>
  <head>
    <title>Origami</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <section class="section">
      <div class="container">
        <p class="notice" style="color: green"><%= notice %></p>
        <p class="alert" style="color: red"><%= alert %></p>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
